# Nested git repos / programs
CS100/Git/
CS100/2026_Spring/Lecture_Slides/Week2/
CS100/Microsoft VS Code/

# Files larger than GitHub 100MB limit
CS100/ShanghaiTech-CS100-main.zip
信号与系统/朱/信号与系统.zip
信号与系统/朱/信号与系统/*Z-Library*.pdf
