/CS100/Microsoft[[:space:]]VS[[:space:]]Code/Code.exe filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/bin/code-tunnel.exe filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2023[[:space:]]spring/tutorial/r11/demo/message/message.exe filter=lfs diff=lfs merge=lfs -text
/CS100/test/mygo贺图.png filter=lfs diff=lfs merge=lfs -text
/CS100/test/微信图片_2025-08-07_184331_294.jpg filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/Microelectronic[[:space:]]Circuit.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/project/Analog[[:space:]]Integrated[[:space:]]Circuit[[:space:]]Design[[:space:]](David[[:space:]]Johns,[[:space:]]Ken[[:space:]]Martin)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/实验/Lab5[[:space:]]Cj0实测.zip filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/实验/Lab5[[:space:]]Cj0实测/Lab5补充材料.tar filter=lfs diff=lfs merge=lfs -text
/CS100/2026_Spring/Lecture_Slides/CS100_2026_Lecture_02.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/2026_Spring/Recitation/r1_26spring_v2.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/LICENSES.chromium.html filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/d3dcompiler_47.dll filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/ffmpeg.dll filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/icudtl.dat filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/libGLESv2.dll filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/locales/bg.pak filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/locales/bn.pak filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/locales/el.pak filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/locales/gu.pak filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/locales/hi.pak filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/locales/kn.pak filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/locales/ml.pak filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/locales/mr.pak filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/locales/ru.pak filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/locales/ta.pak filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/locales/te.pak filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/locales/th.pak filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/locales/uk.pak filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources.pak filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/ThirdPartyNotices.txt filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/extensions/css-language-features/server/dist/node/920.cssServerMain.js filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/extensions/html-language-features/server/dist/node/769.htmlServerMain.js filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/extensions/markdown-language-features/dist/extension.js filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/extensions/microsoft-authentication/dist/msalruntime.dll filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/extensions/ms-vscode.vscode-js-profile-table/ThirdPartyNotices.txt filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/extensions/node_modules/typescript/lib/lib.dom.d.ts filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/extensions/node_modules/typescript/lib/typescript.js filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/extensions/terminal-suggest/dist/terminalSuggestMain.js filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/node_modules/@vscode/ripgrep/bin/rg.exe filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/node_modules/@vscode/sqlite3/build/Release/vscode-sqlite3.node filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/node_modules/@vscode/tree-sitter-wasm/wasm/tree-sitter-typescript.wasm filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/node_modules/@vscode/vsce-sign/bin/vsce-sign.exe filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/node_modules/@xterm/xterm/lib/xterm.mjs.map filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/node_modules/chrome-remote-interface/lib/protocol.json filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/node_modules/node-pty/build/Release/conpty/OpenConsole.exe filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/out/vs/workbench/api/node/extensionHostProcess.js filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/out/vs/workbench/api/worker/extensionHostWorkerMain.js filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/resources/app/out/vs/workbench/workbench.desktop.main.js filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/unins000.exe filter=lfs diff=lfs merge=lfs -text
/CS100/Microsoft[[:space:]]VS[[:space:]]Code/vk_swiftshader.dll filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_0_course_introduction.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_10_recursion.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_17_STL_Templates.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_18_STL_Containers.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_19_Memory_management.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_1_C_program_structure.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_20_Code_Structuring.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_20_Code_Structuring_updated.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_21_cmake_and_interfacing_with_cpp.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_22_Eigen.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_23_Concurrency.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_24_Rvalue_references.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_25_functional_programming_Cpp11_14.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_2_data_types_operations.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_3_simple_IO.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_4_Control_flow.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_7_arrays.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_8_character_strings_and_text_files.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2022[[:space:]]spring/tutorial/recitation1/rec1.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2023[[:space:]]spring/homework/hw5/T1.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2023[[:space:]]spring/homework/hw6/T1.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2023[[:space:]]spring/homework/hw8/HW8.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2023[[:space:]]spring/homework/hw8/T1.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2023[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_10_recursion.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2023[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_1_C_program_structure.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2023[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_2_data_types_operations.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2023[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_3_simple_IO.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2023[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_4_Control_flow.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2023[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_7_arrays.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2023[[:space:]]spring/lecture[[:space:]]ppt/CS100_Lecture_8_character_strings.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2023[[:space:]]spring/tutorial/r1.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2024[[:space:]]spring/homework/hw8/FAQ.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2024[[:space:]]spring/lecture[[:space:]]ppt/CS100_2024_Lecture_02.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/ShanghaiTech-CS100-main/2024[[:space:]]spring/lecture[[:space:]]ppt/CS100_2024_Lecture_11.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/test/DSCF4448.jpg filter=lfs diff=lfs merge=lfs -text
/CS100/test/DSCF4450.jpg filter=lfs diff=lfs merge=lfs -text
/CS100/test/DSCF4456.jpg filter=lfs diff=lfs merge=lfs -text
/CS100/test/DSCF4501.jpg filter=lfs diff=lfs merge=lfs -text
/CS100/test/GBC贺图.jpg filter=lfs diff=lfs merge=lfs -text
/CS100/test/Saber.jpg filter=lfs diff=lfs merge=lfs -text
/CS100/test/test.pdf filter=lfs diff=lfs merge=lfs -text
/CS100/test/微信图片_2025-08-07_184352_317.jpg filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/Hw4/黄瑞颀-2024531064-HW4.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/Lecture11.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/Lecture12.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/Lecture13.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/Lecture14.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/Lecture15.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/Lecture16.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/Lecture17.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/Lecture18.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/Lecture19.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/Lecture6.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/Lecture7.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/project/Final_project.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/project/白/bai[[:space:]]report.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/project/黄/hrq[[:space:]]report.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/project/黄/黄瑞颀_2024531064_report.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/project/黄瑞颀_2024531064_DAC/report/黄瑞颀_2024531064_report.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/project/黄瑞颀_2024531064_DAC_新.zip filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/实验/Lab5[[:space:]]Cj0实测/Lab5[[:space:]]黄瑞颀.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/实验/lab1/Multisim-实用基础教程.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/实验/lab1/lab1_worksheet.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/实验/lab1/lab1教学文档.pptx filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/实验/lab2/lab2_worksheet.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/实验/lab2/lab2讲解.pptx filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/实验/lab3/Lab3补充材料.tar filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/实验/lab6[[:space:]]MOS.rar filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/实验/lab6[[:space:]]MOS/MOS[[:space:]]I-V讲解.pdf filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/实验/lab7.zip filter=lfs diff=lfs merge=lfs -text
/Analog[[:space:]]Circuit/实验/lab7/lab7/MOS放大器.pdf filter=lfs diff=lfs merge=lfs -text
/信号与系统/朱/信号与系统/ppt/Signals[[:space:]]and[[:space:]]Systems[[:space:]]Chapter[[:space:]]1.pdf filter=lfs diff=lfs merge=lfs -text
/信号与系统/朱/信号与系统/ppt/Signals[[:space:]]and[[:space:]]Systems[[:space:]]Chapter[[:space:]]10.pdf filter=lfs diff=lfs merge=lfs -text
/信号与系统/朱/信号与系统/ppt/Signals[[:space:]]and[[:space:]]Systems[[:space:]]Chapter[[:space:]]4.pdf filter=lfs diff=lfs merge=lfs -text
/信号与系统/朱/信号与系统/ppt/Signals[[:space:]]and[[:space:]]Systems[[:space:]]Chapter[[:space:]]5.pdf filter=lfs diff=lfs merge=lfs -text
/信号与系统/朱/信号与系统/ppt/Signals[[:space:]]and[[:space:]]Systems[[:space:]]Chapter[[:space:]]7.pdf filter=lfs diff=lfs merge=lfs -text
/信号与系统/朱/信号与系统/ppt/Signals[[:space:]]and[[:space:]]Systems[[:space:]]Chapter[[:space:]]9.pdf filter=lfs diff=lfs merge=lfs -text
/信号与系统/朱/信号与系统/ppt/Signals[[:space:]]and[[:space:]]systems[[:space:]]Chapter[[:space:]]2.pdf filter=lfs diff=lfs merge=lfs -text
/信号与系统/朱/信号与系统/ppt/Signals[[:space:]]and[[:space:]]systems[[:space:]]Chapter[[:space:]]3.pdf filter=lfs diff=lfs merge=lfs -text
/信号与系统/朱/信号与系统/ppt/Signals[[:space:]]and[[:space:]]systems[[:space:]]Chapter[[:space:]]6.pdf filter=lfs diff=lfs merge=lfs -text
/概率论/Hw10/黄瑞颀[[:space:]]2024531064[[:space:]]Hw13.pdf filter=lfs diff=lfs merge=lfs -text
